<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" href="css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{css/custom.css}" href="css/custom.css"/>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display">
<meta charset="UTF-8">
<title>Multiplex</title>
</head>
<body style="font-family: 'Playfair Display';">
<div style="background-image: url(img/Electronic.jpg); background-size: cover; width: 100%; height: 300px;">
</div>
<nav class="navbar navbar-expand-lg navbar-light" id="mainMenu" style="background-color: white;">
  <a class="navbar-brand" href="#">Multiplex logo here</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin: auto;">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">COMPANY</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PRODUCTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SERVICES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Service</a>
          <a class="dropdown-item" href="#">Another service</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<section  class="container">
<section class="row article">
	<article class="col">
	<h5>Последни новини</h5>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat accusamus cupiditate aliquam quibusdam deserunt ducimus! Deserunt architecto officia doloribus mollitia cupiditate expedita animi in ullam perspiciatis ipsum molestias quia!</p>
	</article>
	<article class="col">
	<h5>Приложения</h5>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat accusamus cupiditate aliquam quibusdam deserunt ducimus! Deserunt architecto officia doloribus mollitia cupiditate expedita animi in ullam perspiciatis ipsum molestias quia!</p>
	</article>
	<article class="col">
	<h5>Blog</h5>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat accusamus cupiditate aliquam quibusdam deserunt ducimus! Deserunt architecto officia doloribus mollitia cupiditate expedita animi in ullam perspiciatis ipsum molestias quia!</p>
	</article>
</section>
</section>
	<div class="section-title-white section-title"><h2>Продуктите ни</h2></div>	
<section class="container">
<section class="row article">
	<article class="col">
	<h5>Watson Ethernet</h5>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<img src="img/watson1.jpg" alt="" />
	</article>
	<article class="col">
	<h5>ZyXEL</h5>
	<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<img src="img/zyxel1.jpg" alt="" /></article>
	<article class="col">
	<h5>Последни новини</h5>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat accusamus cupiditate aliquam quibusdam deserunt ducimus! Deserunt architecto officia doloribus mollitia cupiditate expedita animi in ullam perspiciatis ipsum molestias quia!</p>
	</article>
	<article class="col">
	<h5>Последни новини</h5>
		<p><a href="#">Lorem ipsum dolor sit amet</a></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat accusamus cupiditate aliquam quibusdam deserunt ducimus! Deserunt architecto officia doloribus mollitia cupiditate expedita animi in ullam perspiciatis ipsum molestias quia!</p>
	</article>
</section>
</section>
<div class="section-title"><h2 class="article">Innovating the solutions you need tomorrow, today</h2></div>
<div class="mug-forest">
<div class="container">
<section class="row article">
	<article class="col-lg-3 col-md-6">
	<div>
		<h5>Server Farm</h5>
		<div style="background-image: url(img/servers.jpg); background-size: cover;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum adipisci debitis culpa consectetur enim dignissimos consequuntur iusto accusamus repellat accusantium quos necessitatibus! Dicta iste eligendi deserunt non excepturi dolorum?</p>
		</div>
	</div>
	</article>
	<article class ="col-lg-3 col-md-6">
	<div>
		<h5>Train Station</h5>
		<div style="background-image: url(img/train.jpg); background-size: cover;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum adipisci debitis culpa consectetur enim dignissimos consequuntur iusto accusamus repellat accusantium quos necessitatibus! Dicta iste eligendi deserunt non excepturi dolorum?</p>
		</div>
	</div>
	</article>
	<article class ="col-lg-3 col-md-6">
	<div>
		<h5>Fabric</h5>
		<div style="background-image: url(img/fabric.jpg); background-size: cover;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum adipisci debitis culpa consectetur enim dignissimos consequuntur iusto accusamus repellat accusantium quos necessitatibus! Dicta iste eligendi deserunt non excepturi dolorum?</p>
		</div>
	</div>
	</article>
	<article class ="col-lg-3 col-md-6">	
	<div>
		<h5>Electric Power</h5>
		<div style="background-image: url(img/power.jpg); background-size: cover;">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum adipisci debitis culpa consectetur enim dignissimos consequuntur iusto accusamus repellat accusantium quos necessitatibus! Dicta iste eligendi deserunt non excepturi dolorum?</p>
		</div>
	</div>
	</article>
</section>
</div>
</div>
<div class="section-title"><h2>Follow Us</h2></div>
<section>
</section>
<div class="section-title"><h2>Partners</h2></div>
<section>
</section>
	<script th:src="@{lib/jquery-3.3.1.min.js}"></script>
<script th:src="@{lib/bootstrap.min.js}"></script>
<script th:src="@{js/dropdown.js}"></script>

</body>
</html>